/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

.user-profile-box {
  font-size: 0.9rem;
  padding: 5px 28px;
}

.user-profile-box > * {
  margin: 10px 0;
}
